body {
    color:black;
    background: white;
    margin: Opx;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px blue;
    padding: 20px;
    font-size: 32px;
    color: green;

}
.categoria-videoas{
    display: flex;
    overflow: auto;
    gap: 10px;
}   
 .categoria{
    padding-left: 20px;
    padding-right: 20px;
 }
 .categoria-videoas img{
    opacity: 0.5;
    height: 20px;
 }
.categoria-videoas img:houver{
    opacity: 1.0;
    border: 1px solid blue;
}
.categoria h2{
    color: aqua(202, 148, 31) ;
}